section(data-aos="fade" data-aos-duration="2000").join#join
    ._wrapper.container
        aside._side
            p._side-text As featured in
            ul._list
                li._partner
                    a(href="#")
                        img(src="img/partner/dcbx-logo.png", alt="DCBX", width="200", height="50")._partner-logo

